html {
  scroll-behavior: smooth;
}
body{
  margin:auto;
}
header {
    color: #fff;
    /* padding: 1rem; */
    /* position: fixed; */
    width:100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
  
nav ul li {
    display: inline;
    margin-right: 1rem;
}
  
nav ul li a {
    color: #fff;
    text-decoration:wavy;
}
.site-content{
  height: 1000px;
  background-color: whitesmoke;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 75px;
  padding-bottom: 500px;
}
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}
.project-card{
  border:2px;
  max-width: 75px;
  min-width: 20%;
  justify-content: center;
  padding:10%;
}
.cards-container{
  border:2px black;
  width:100%;
  padding:10%

}