html {
  scroll-behavior: smooth;
}
body{
  margin:auto;
}
header {
    color: #fff;
    /* padding: 1rem; */
    /* position: fixed; */
    width:100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
  
nav ul li {
    display: inline;
    margin-right: 1rem;
}
  
nav ul li a {
    color: #fff;
    text-decoration:wavy;
}
.site-content{
  height: auto;
  min-height: 500px;
  background-color: whitesmoke;
  padding: 10%;
  /* padding-left: 10%;
  padding-right: 10%;
  padding-top: 75px;
  padding-bottom: 500px; */
}
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}
.project-card{
  border:2px solid black;
  /* max-width:4rem; */
  min-width: 10rem;
  min-height: 15rem;
  justify-content: center;
  /* padding-top:4em; */
  margin:1rem;
}
.cards-container{
  width:90%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* padding: 3rem 1rem; */
}
.hero-image{
  width: 20rem;
  justify-content: center;
  border-radius: 50%;
}
#skills img{
  width: 10rem;
  height:auto;
  border-radius:50%;
  background-color: white;
  padding:5%;
  margin:5%;
}
#skills{
  /* padding:10%; */
}
.img-text{
  width:20rem;
  display:flex;
}
.img-text p{
  padding-top:10%;
}